$colorWhite: hsl(0, 0%, 100%);
$colorBlack: hsl(0, 0%, 0%);

$colorLight: hsl(345, 20%, 96%);
$colorDark: hsl(233, 20%, 17%);
$colorGrey: hsl(0, 2%, 49%);
$colorAccentRed: hsl(356, 84%, 69%);
$colorAccentBlue: hsl(240, 97%, 73%);
$colorAccentYellow: hsl(19, 92%, 74%);
