$fontSize13: 0.8rem;
$fontSize14: 0.9rem;
$fontSize16: 1rem;
$fontSize18: 1.125rem;
$fontSize24: 1.5rem;
$fontSize28: 1.75rem;
$fontSize40: 2.5rem;

$fontWeight400: 400;
$fontWeight600: 600;
$fontWeight700: 700;
