// colors
$colorWhite: hsl(0, 0%, 100%);
$colorBlack: hsl(0, 0%, 0%);
$colorLight: hsl(345, 20%, 96%);
$colorDark: hsl(233, 20%, 17%);
$colorGrey: hsl(0, 2%, 49%);
$colorAccentRed: hsl(356, 84%, 69%);
$colorAccentBlue: hsl(240, 97%, 73%);
$colorAccentYellow: hsl(19, 92%, 74%);

// typography
$fontSize13: 0.8rem;
$fontSize14: 0.9rem;
$fontSize16: 1rem;
$fontSize18: 1.125rem;
$fontSize24: 1.5rem;
$fontSize28: 1.75rem;
$fontSize40: 2.5rem;
$fontWeight400: 400;
$fontWeight600: 600;
$fontWeight700: 700;

// breakpoints
$breakpoint_md: 45rem;
$breakpoint_lg: 72rem;
