.faq {
  display: flex;
  flex-direction: column;

  padding-inline: 1.25rem;
  margin-block-end: 6.25rem;
  gap: 3rem;

  @include md {
    flex-direction: row;
    gap: 8%;
  }

  .call {
    &__title {
      color: $colorDark;
      font-size: $fontSize40;
      font-weight: $fontWeight700;
    }

    &__description {
      color: $colorDark;
      line-height: 1.6;
      margin-block-end: 2rem;
    }

    &__btn {
      letter-spacing: 1px;
      padding-inline: 2.25rem;
    }
  }
}
