.navigation {
  &__burger-menu {
    position: absolute;
    right: 0;
    top: 1rem;
    z-index: 12;

    cursor: pointer;
    background-color: $colorBlack;
    border-radius: 100vw;

    width: 17px;
    height: 3px;

    transform-origin: right;
    transition: 10ms ease-in-out;

    @include md {
      display: none;
    }

    &::before {
      position: absolute;
      right: 0;
      bottom: 6px;

      content: "";
      background-color: $colorBlack;
      border-radius: 100vw;

      width: 22px;
      height: 3px;

      transition: 250ms ease-in-out;
    }

    &::after {
      position: absolute;
      right: 0;
      top: 6px;

      content: "";
      background-color: $colorBlack;
      border-radius: 100vw;

      width: 22px;
      height: 3px;

      transition: 250ms ease-in-out;
    }
  }

  &__burger-menu.opened {
    width: 0px;

    &::before {
      transform: rotate(45deg) translate(4px, 4px);
    }

    &::after {
      transform: rotate(-45deg) translate(4px, -4px);
    }
  }
}

.burger-wrapper {
  position: absolute;
  top: 0;
  right: 20px;
  height: 35px;
  width: 35px;
  z-index: 20;
  cursor: pointer;

  @include md {
    display: none;
  }
}

.burger-wrapper.opened {
  position: fixed;
  top: 2rem;
  right: 20px;
  height: 35px;
  width: 35px;
  z-index: 20;
  cursor: pointer;
}
