.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.25rem;
  margin-block-end: 6.25rem;
  gap: 4rem;

  @include md {
    gap: 8rem;
    flex-direction: row;
  }

  .hero-background {
    z-index: -20;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
    background-color: $colorLight;
    width: 100vw;
    height: 180%;
  }

  .label {
    &__headline {
      max-width: 100%;
      margin-block-end: 1.875rem;
    }

    &__text {
      color: $colorBlack;
      line-height: 2rem;
      max-width: 450px;
      margin-block-end: 2.5rem;
    }

    &__search {
      position: relative;
      display: flex;
      max-width: 450px;
      width: 100%;

      &::before {
        content: "";
        background-image: url(../../assets/Hero/icons/Location.svg);
        position: absolute;
        left: 25px;
        top: 50%;
        transform: translateY(-50%);
        width: 14px;
        height: 20px;
      }
    }

    &__search-input {
      color: $colorDark;
      font-size: $fontSize14;
      padding-block: 1.25rem;
      padding-inline: 3.75rem;
      border-radius: 100vw;
      border: 0;
      flex: 1;
    }

    &__search-btn {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      height: calc(100% - 10px);
      padding-inline: 2rem;
      font-size: $fontSize13;
      letter-spacing: 1px;
    }
  }

  .illustration {
    position: relative;
    .parrot {
      width: 100%;
    }
    .members-card {
      background-position: center;
      background-image: url(../../assets/Hero/Card.svg);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 35px;
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      max-width: 185px;
      max-height: 225px;
      border-radius: 30px;

      @include lg {
        left: -40px;
        max-width: 220px;
        max-height: 280px;
      }

      .members {
        &__title {
          color: $colorWhite;
          font-weight: $fontWeight700;
          margin: 0;
        }
        &__amount {
          color: $colorWhite;
          font-weight: $fontWeight700;
          font-size: $fontSize28;
          margin: 0;

          @include lg {
            font-size: $fontSize40;
          }
        }
      }
    }
  }
}
