@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import "./essential/vars";
@import "./essential/noralize";
@import "./essential/breakponts";
@import "./essential/buttons";

@import "../components/Header/components/Logo/style";
@import "../components/Header/components/BurgerMenu/style";
@import "../components/Header/style";
@import "../components/Hero/style";
@import "../components/Team/style";
@import "../components/Contact/style";
@import "../components/FAQ/style";
@import "../components/FAQ/components/QnA/style";
@import "../components/Slider/style";
@import "../components/Footer/style";
@import "../components/Slider/components/Pagination/style";
@import "../components/Slider/components/Slides/style";

html {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: $colorWhite;
}

.container {
  width: 100%;
  max-width: 70rem;
  margin: 0 auto;
}
