.header {
  padding-inline: 1.25rem;
  position: relative;

  margin-block-start: 2rem;
  margin-block-end: 6rem;

  &::after {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    content: "";
    background-color: $colorDark;
    width: calc(100% - 2.5rem);
    height: 3px;
  }

  &__logo {
    display: flex;
    place-items: center;

    cursor: pointer;
    gap: 0.75rem;
  }

  .navigation {
    position: fixed;
    visibility: hidden;
    top: 0;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    background-color: blueviolet;
    width: 100%;
    height: 100%;

    transform: translateX(120%);
    transition: 250ms ease-in-out;

    ul {
      display: flex;
      flex-direction: column;

      margin-block-start: 5.5rem;
      gap: 3.5rem;
    }

    &__point {
      cursor: pointer;
      font-size: $fontSize28;
      font-weight: $fontWeight400;

      &:hover {
        font-weight: $fontWeight700;
      }
    }

    &__apply-btn {
      cursor: pointer;
      width: 100%;
      font-weight: $fontWeight700;
      background-color: $colorWhite;
      border: none;
      border-radius: 100vw;
      padding: 0.8rem;
    }
  }

  .navigation.opened {
    transform: translateX(0%);
    visibility: visible;
  }
}
