.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70rem;
  padding-inline: 1.25rem;
  color: $colorDark;
  line-height: 24px;
  margin-block-end: 2.5rem;

  @include md {
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-block-end: 7.5rem;
  }

  .background {
    z-index: -10;
    position: absolute;
    bottom: -2.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $colorLight;
    width: 100vw;
    height: 150%;

    @include md {
      bottom: -7.5rem;
      height: 450%;
    }
  }

  .contacts {
    padding-right: 75px;
    &__title {
      font-size: $fontSize28;
      font-weight: $fontWeight700;
    }

    &__copyright {
      font-size: $fontSize13;
      letter-spacing: 0.3px;
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    gap: 42px;
    .headquarters {
      p {
        margin-block: 0.5rem;
      }
      @include md {
        position: absolute;
        left: 53%;
        transform: translateX(-50%);
      }
      &__title {
        font-size: $fontSize18;
        font-weight: $fontWeight700;
        letter-spacing: 0.3px;
      }
    }

    .social {
      &__title {
        font-size: $fontSize18;
      }
      &__links {
        display: flex;
        gap: 13px;
      }

      &__link {
        cursor: pointer;
        display: grid;
        place-items: center;
        background-color: $colorDark;
        width: 2rem;
        height: 2rem;
        border-radius: 100vw;
        border: none;

        transition: 150ms ease-in-out;

        &:hover {
          background-color: black;
        }
      }
    }
  }
}
