.burgerMenu {
  background-color: $colorBlack;
  border-radius: 100vw;
  position: absolute;
  right: 0;
  top: 1rem;
  width: 17px;
  height: 3px;

  transform-origin: right;
  transition: 10ms ease-in-out;

  &::before {
    content: "";
    background-color: $colorBlack;
    border-radius: 100vw;
    right: 0;
    bottom: 6px;
    width: 22px;
    height: 3px;
    position: absolute;

    transition: 250ms ease-in-out;
  }

  &::after {
    content: "";
    background-color: $colorBlack;
    border-radius: 100vw;
    right: 0;
    top: 6px;
    width: 22px;
    height: 3px;
    position: absolute;

    transition: 250ms ease-in-out;
  }
}

.burgerMenu.opened {
  background-color: $colorBlack;
  border-radius: 100vw;
  position: absolute;
  right: 0;
  top: 1rem;
  width: 0px;
  height: 3px;

  &::before {
    content: "";
    background-color: $colorBlack;
    border-radius: 100vw;
    right: 0;
    bottom: 6px;
    width: 22px;
    height: 3px;
    position: absolute;
    transform: rotate(45deg) translate(4px, 4px);
  }

  &::after {
    content: "";
    background-color: $colorBlack;
    border-radius: 100vw;
    right: 0;
    top: 6px;
    width: 22px;
    height: 3px;
    position: absolute;
    transform: rotate(-45deg) translate(4px, -4px);
  }
}
